!/project/TOL_SRPG/bin/Debug/data/
!/project/TOL_SRPG/bin/Debug/data/DxLib.dll
!/project/TOL_SRPG/bin/Debug/data/DxLib_x64.dll
!/project/TOL_SRPG/bin/Debug/data/DxLibDotNet.dll

project/TOL_SRPG/obj/
project/TOL_SRPG/bin/Debug/
project/TOL_SRPG/bin/Release/

