project/TOL_SRPG/obj/
project/TOL_SRPG/bin/Debug/.vs
project/TOL_SRPG/bin/Debug/TOL_SRPG.exe
project/TOL_SRPG/bin/Debug/TOL_SRPG.exe.config
project/TOL_SRPG/bin/Debug/TOL_SRPG.pdb
project/TOL_SRPG/bin/Debug/TOL_SRPG.vshost.exe
project/TOL_SRPG/bin/Debug/TOL_SRPG.vshost.exe.config
project/TOL_SRPG/bin/Debug/TOL_SRPG.vshost.exe.manifest
project/TOL_SRPG/bin/Debug/Log.txt
project/TOL_SRPG/bin/Debug/data/sound/
project/TOL_SRPG/bin/Release/

